{% extends "CoobixAdminBundle:Default:list.html.twig" %}

{% block module_tit %}
Listado de Servicio
{% endblock module_tit %}

{% block list_tits %}

{% set widthCols =  94/4  %}


<th style="width: {{ widthCols+20 }}%"{% if entities.isSorted('i.nombre') %} class="sorted" {% endif %}>{{ entities.sortable('Nombre', 's.nombre')|raw }}</th>
<th align="center" style="width: {{ widthCols-6 }}%"{% if entities.isSorted('i.unidad') %} class="sorted" {% endif %}>{{ entities.sortable('Unidad', 's.unidad')|raw }}</th>
<th align="center" style="width: {{ widthCols-6 }}%"{% if entities.isSorted('i.precio') %} class="sorted" {% endif %}>{{ entities.sortable('Precio', 's.precio')|raw }}</th>

{% endblock list_tits %}

{% block list_item_texts %}

<td ><a href="{{ path('insumo_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
<td align="center"><a href="{{ path('insumo_edit', { 'id': entity.id }) }}">{{ entity.unidad }}</a></td>
<td align="center"><a href="{{ path('insumo_edit', { 'id': entity.id }) }}">{{ entity.precio }} $</a></td>

{% endblock list_item_texts %}

{%block FormBuscar%}
	<form method="post" action="{{path('servicio',{pararouting:"buscar"})}}" novalidate="true">
{%endblock%}

{%block camposFormBuscar%}

	{{form_row(formBuscar.s_nombre)}}
	{{form_row(formBuscar.s_unidad)}}
	{{form_row(formBuscar._token)}}	
		
{%endblock%}

{% block menuOpciones %}	{% endblock menuOpciones%}

{% block new_path %} 
{{ path('servicio_new') }}
{% endblock new_path %}

{% block edit_path %} 
{{ path('servicio_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block delete_path %}

{% endblock delete_path %}

{% block list_delete %}
	{% render "ProductoBundle:Servicio:listDeleteform" with {'id': entity.id}  %}
{% endblock list_delete %}



