{% extends "CoobixAdminBundle:Default:edit.html.twig" %}

{% block breadcrumb_in %}

{% endblock breadcrumb_in %} 

{%block main_path%}{%endblock main_path%}


{% block module_tit %}Resumen del Proceso{% endblock module_tit %}		
			
{% block menuAcciones%}
	{% if entity.estado < 1  %}
		{% render "DecoyesoProduccionBundle:Proceso:accionDeleteform" with {'id': entity.id}  %}
		{#			
		<a  href="{{ path('proceso_actualizar', { 'id': entity.id }) }}" class="btn_blue right" >
		Actualizar
		</a>
		#}	
	{% endif %}
	

{% endblock menuAcciones%}
			
{% block menuOpciones %}
{% endblock menuOpciones %}


{% block form_content %}
		{% block errorMsj %}{% endblock errorMsj %}
		
		<form action="" method="post" id="procesoForm" {{ form_enctype(edit_form) }}>
		<div class="formProcesoCont">
		<br>
		<br>	
	
		{% form_theme edit_form 'CoobixAdminBundle:Form:Fields.html.twig' %}
		{{ form_errors(edit_form) }}
		
		{# Cantidad de productos a producir #}
		{% set totalCantidad = 0 %}
		
		{# Cantidad de Placas a producir #}
		{% set totalCantidadPlacas = 0 %}
		
		{# Cantidad de Molduras a producir #}
		{% set totalCantidadMolduras = 0 %}
		
		{# Cantidad de productos producidos #}
		{% set totalCantidadProducida = 0 %}
			
		{% for pp in productosDelProceso %} 
			
			{% set totalCantidad = totalCantidad + pp.cantidad %}
			{% set totalCantidadProducida = totalCantidadProducida + pp.cantidadProducida %}
			
			{% if (pp.getProducto.getTipo == 0) %}
				{% set totalCantidadPlacas = totalCantidadPlacas + pp.cantidad %}
			{% endif %}
			
			{% if (pp.getProducto.getTipo == 1) %}
				{% set totalCantidadMolduras = totalCantidadMolduras + pp.cantidad %}
			{% endif %}
		
		{% endfor %} 
		
		{% set datos = {
		'totalCantidad': totalCantidad,
		'totalCantidadPlacas': totalCantidadPlacas, 
		'totalCantidadMolduras': totalCantidadMolduras,
		'totalCantidadProducida': totalCantidadProducida,
		'entity': entity
		 
} %}
	
		
		<div class="fix"><br><br><br></div>
		
		
		{# CUADRO DATOS PROCESO #}
		{% include 'DecoyesoProduccionBundle:Proceso:cuadro_datos_proceso.html.twig' with {'datos': datos} %}
		{# CUADRO DATOS PROCESO #}
		
		{# CUADRO DATOS DE PRODUCTOS A FABRICAR #}
		{% include 'DecoyesoProduccionBundle:Proceso:cuadro_datos_productos.html.twig' with {'datos': datos} %}
		{# CUADRO DATOS DE PRODUCTOS A FABRICAR #}
		
		{# CUADRO DATOS INSUMOS #}
		{% include 'DecoyesoProduccionBundle:Proceso:cuadro_datos_insumos.html.twig' with {'datos': datos} %}
		{# CUADRO DATOS INSUMOS #}
		
		
		
		
	

	</div>	
		
		<div class="fix"></div>
		<p>
			{% if entity.estado == 0  %}
			<a href="{{ path('proceso_iniciar', { 'id': entity.id }) }}" class="btn_green_button right" type="submit">INICIAR</a>
			<a href="{{ path('proceso_edit', { 'id': entity.id }) }}" class="btn_blue right" type="submit">Modificar</a>
			{% endif %}
			{% if entity.estado == 1  %}
			<a href="{{ path('proceso_finalizar', { 'id': entity.id }) }}" class="btn_blue right" type="submit">Finalizar</a>
			{% endif %}
			{% if entity.estado == 2  %}
			<a href="{{ path('proceso_asignar', { 'id': entity.id }) }}" class="btn_blue right" type="submit">Asignar Productos al stock</a>

			{% endif %}
		</p>
		
		<div class="fix"></div>
		
		</form>
		{% endblock form_content %}

{% block list_path %}{{ path('proceso') }}{% endblock list_path %}

{% block javascript_extra %}

{% endblock javascript_extra %}