{% extends "CoobixAdminBundle:Default:list.html.twig" %}
{% import "PedidoBundle:Pedido:macros.html.twig" as macrosPedido %}

{%block main_path%}
<ul>
	<li><a class="btn_back_to_list txt16 txt_green" href="{{ path('cliente_edit',{'id': pedido.cliente.id}) }}">Cliente: {{pedido.cliente.nombre}}</a></li>
	<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('pedido_edit',{'id': pedido.id}) }}">Pedido: {{pedido.numero}}, {{pedido.nombre}}</a></li>
	<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('relevamiento_por_pedido',{'pedido': pedido.id}) }}">Listar Presupuestos del Pedido</a></li>
</ul>
{%endblock main_path%}

{% block module_tit %}
	Listado de Presupuestos del Pedido
{% endblock module_tit %}

{% block list_tits %}

{% set widthCols =  94/3  %}

<th style="width: {{ widthCols }}">Número</th>
<th style="width: {{ widthCols }}">Nombre</th>
<th style="width: {{ widthCols }}">Estado</th>

{% endblock list_tits %}


{% block list_item_texts %}
<td ><a href="{{ path('presupuesto_edit', { 'id': entity.id }) }}">{{ entity.numero }}</a></td>
<td ><a href="{{ path('presupuesto_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
<td ><a href="{{ path('presupuesto_edit', { 'id': entity.id }) }}">{{ entity.getEstadoNombre }}</a></td>
{% endblock list_item_texts %}


{%block buscador %}
{%endblock buscador %}


{% block menuOpcionesItems %}
	{{ macrosPedido.menuOpciones(pedido) }}		
{% endblock menuOpcionesItems %}

{%block opcionesGuia  %}
	{{ macrosPedido.guia(pedido) }}
{%endblock opcionesGuia  %}

{% block menuAcciones%}
{% endblock menuAcciones%}

{% block edit_path %} 
{{ path('presupuesto_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block list_navigation %}
{% endblock list_navigation %}


