{% extends "CoobixAdminBundle:Default:list.html.twig" %}

{% block module_tit %}
Listado de Presupuestos
{% endblock module_tit %}

{% block list_tits %}

{% set widthCols =  94/3  %}
<th style="width: {{ widthCols }}%"{% if entities.isSorted('pre.pedido.cliente.nombre') %} class="sorted" {% endif %}>{{ entities.sortable('Cliente', 'pre.pedido.cliente.nombre')|raw }}</a></a></th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('pre.numero') %} class="sorted" {% endif %}>{{ entities.sortable('Número', 'pre.numero')|raw }}</a></a></th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('p.numero') %} class="sorted" {% endif %}>{{ entities.sortable('Pedido', 'p.numero')|raw }}</a></a></th>

{% endblock list_tits %}

{% block list_item_texts %}
<td ><a href="{{ path('presupuesto_edit', { 'id': entity.id }) }}">{{ entity.pedido.cliente.nombre }}</a></td>
<td ><a href="{{ path('presupuesto_edit', { 'id': entity.id }) }}">{{ entity.numero }}</a></td>
<td ><a href="{{ path('presupuesto_edit', { 'id': entity.id }) }}">{{ entity.pedido.numero }}-{{ entity.pedido.nombre }}</a></td>
{% endblock list_item_texts %}


{%block FormBuscar%}
	<form method="post" action="{{path('presupuesto',{pararouting:"buscar"})}}" novalidate="true">
{%endblock%}


{%block camposFormBuscar%}
	<div id="formBuscar">
		
		{{form_row(formBuscar._token)}}
		
		{{form_row(formBuscar.pre_numero)}}
		{{form_row(formBuscar.pre_nombre)}}
	
	
		{{form_row(formBuscar.p_numero)}}
		{{form_row(formBuscar.p_nombre)}}

	</div>
{%endblock%}

{% block menuOpciones %} {% endblock menuOpciones %}

{% block new_path_btn %} {% endblock new_path_btn %}

{% block edit_path %} 
{{ path('presupuesto_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block delete_path %}
	{{ path('presupuesto_delete', { 'id': entity.id }) }}
{% endblock delete_path %}

{% block list_delete %}
	{% render "PedidoBundle:Presupuesto:listDeleteform" with {'id': entity.id}  %}
{% endblock list_delete %}




