<<<<<<< HEAD
{% extends "UsuarioBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
=======
{% extends "CoobixAdminBundle:Default:index.html.twig" %}

{% block header %} {% endblock header %}
{% block sidebar %} {% endblock sidebar %}

{% block main %}


<div class="loginWrap border_radius">

{% block fos_user_content %}
{% if error %}
    <div>
    {#
    {{ error|trans({}, 'FOSUserBundle') }}
    #}
    Por favor verifique Usuario/Contraseña.
    </div>
>>>>>>> origin/desarrolloNico
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
    <div class="left inputLoginWrap">
    	<label for="username">Usuario</label>
    	<input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>
    
    <div class="left inputLoginWrap">
        <label for="password">Contraseña</label>
    	<input type="password" id="password" name="_password" />
    </div>
    
    <div class="fix"></div>
<<<<<<< HEAD
        
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
	   
=======
      {#  
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
	   #}
>>>>>>> origin/desarrolloNico
    <div class="right inputLoginWrap">
         <input type="submit" id="_submit" name="_submit" value="Enviar" />
    </div>
    
    <div class="fix"></div>
   
</form>
{% endblock fos_user_content %}

<<<<<<< HEAD
{#
{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_content %}
#}
=======
        
</div>

{% endblock main %}
>>>>>>> origin/desarrolloNico
