{% extends "CoobixAdminBundle:Default:list.html.twig" %}

{% block module_tit %}
Listado de Insumos
{% endblock module_tit %}


{% block list_tits %}

{% set widthCols =  94/4  %}


<th style="width: {{ widthCols }}%"{% if entities.isSorted('i.nombre') %} class="sorted" {% endif %}>{{ entities.sortable('Nombre', 'i.nombre')|raw }}</th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('i.descripcion') %} class="sorted" {% endif %}>{{ entities.sortable('Descripción', 'i.descripcion')|raw }}</a></th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('i.unidad') %} class="sorted" {% endif %}>{{ entities.sortable('Unidad', 'i.unidad')|raw }}</th>

{% endblock list_tits %}

{% block list_item_texts %}

<td ><a href="{{ path('insumo_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
<td ><a href="{{ path('insumo_edit', { 'id': entity.id }) }}">{{ entity.descripcion }}</a></td>
<td ><a href="{{ path('insumo_edit', { 'id': entity.id }) }}">{{ entity.unidad }}</a></td>
{% endblock list_item_texts %}

{%block FormBuscar%}
	<form method="post" action="{{path('insumo',{pararouting:"buscar"})}}" novalidate="true">
{%endblock%}


{%block camposFormBuscar%}

	{{form_row(formBuscar.i_nombre)}}
	{{form_row(formBuscar.i_unidad)}}
	{{form_row(formBuscar._token)}}
		
{%endblock%}


{% block menuOpciones %}{% endblock menuOpciones%}

{% block new_path %} 
{{ path('insumo_new') }}
{% endblock new_path %}

{% block edit_path %} 
{{ path('insumo_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block delete_path %}

{% endblock delete_path %}

{% block list_delete %}
	{% render "ProductoBundle:Insumo:listDeleteform" with {'id': entity.id}  %}
{% endblock list_delete %}



