{% extends "CoobixAdminBundle:Default:edit.html.twig" %}


{% block module_tit %}Editar Producto{% endblock module_tit %}


{% block menuOpciones%}{% endblock menuOpciones%}

{% block list_path %}
{{ path('producto') }}
{% endblock list_path %}

{% block menuAcciones%}
	{% render "ProductoBundle:Producto:accionDeleteform" with {'id': entity.id}  %}
{% endblock menuAcciones%}


{% block form_content %}

	<form action="{{ path('producto_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		
		  
		 {% form_theme edit_form 'CoobixAdminBundle:Form:Fields.html.twig' %}
		
			{{ form_widget(edit_form.insumos,{'attr':{'value':''} }) }}
			{{ form_widget(edit_form.productos,{'attr':{'value':''} }) }}
			
			{{ form_row(edit_form.tipo) }}
			{{ form_row(edit_form.nombre) }}
			<div class="form_row">
					<label for="cliente_numero" class=" required">Cantidad en Stock</label>
					<div>{{cantidadProductoStock}}</div>
			</div>
			{{ form_row(edit_form.descripcion) }}
			{{ form_row(edit_form.unidad) }}
			{{ form_row(edit_form.costo) }}
			
			<div  class="form_row">
			
				<label class=" required" >Costo sugerido</label>
				<div class="field_widget" id="idCostoSugerido">
					
					{% set costoSugerido=0 %}
					{% for producto in productosIncluidos %}
						{% set costoSugerido=costoSugerido+(producto.productos.costo*producto.cantidad) %}
					{% endfor %}
					
					{% for insumo in insumosIncluidos %}
						{% set costoSugerido=costoSugerido+(insumo.insumo.costo*insumo.cantidad) %}
					{% endfor %}
				
					{{ costoSugerido }}
				
				</div>
			</div>
			
			{{ form_row(edit_form.precio) }}
			
			{{ form_rest(edit_form) }}
			
			
			<div  class="form_row">
			
				<label class=" required" >Productos del Producto</label>
				<div class="field_widget">
				
					<div class="border_radius panelAgregar">
					
						<table  class="records_list field_widget_productos" id="tableListProductos">
						  	<thead>
								<tr>
									<th>Nombre</th>
									<th>Cantidad</th>
									<th>Costo</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<select name="selectProductos" id="idSelectProducto" style="float:left;">
											{% for producto in productos %}
												<option value="{{producto.id}}@{{ producto.costo }}@{{ producto.unidad }}">{{producto.nombre}}</option>
											{%else%}
												<option value="0@@@">No existen productos para agregar</option>
											{%endfor%}						
										</select>
									</td>
									<td align="center"><input style="float:left;" maxlength="12" type="text" id="idProductoCantidad" name="productoCantidad" value=""></td>
									<td align="center" id="idCostoProductoAgergar"></td>
									<td align="center"><button type="button" style="float:left;" id="idAgregarProducto" >Agregar</button></td>
								</tr>
								{% set productosInicial='' %}
								{% for producto in productosIncluidos %}						
									<tr id="pro_tr_{{producto.productos.id}}">
										<td id="pro_nom_{{producto.productos.id}}">{{producto.productos.nombre}}</td>
										<td align="center" id="pro_cant_{{producto.productos.id}}">{{producto.cantidad}} {{ producto.productos.unidad}}</td>
										<td align="center" id="pro_cost_{{producto.productos.id}}">{{ producto.productos.costo}}</td>
										<td align="center" ><button class="eliminarProductoDeLista" type="button" value="{{producto.productos.id}}">X</button></td>
										
										{% set productosInicial=productosInicial~";"~producto.productos.id~"@"~producto.cantidad~"@"~producto.productos.costo~"@"~producto.productos.unidad~"@"~producto.productos.nombre %}
										
									</tr>
								{% endfor %}
							</tbody>						
						</table>
					
				  </div>
					
					
				</div>
			
			
			</div>
			
			
			
			
			<div id="div_producto_precio" class="form_row">
			
				<label class=" required" for="producto_precio">Insumos del producto</label>
				<div class="field_widget">
					<div class="border_radius panelAgregar">
						
						<table  class="records_list field_widget_insumos" id="tableListInsumos">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Cantidad</th>
									<th>Costo</th>												
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<select name="selectInsumos" id="idSelectInsumo" style="float:left;">
											{% for insumo in insumos%}
												<option value="{{insumo.id}}@{{ insumo.costo }}@{{ insumo.unidad }}">{{insumo.nombre}}</option>
											{% else %}
												<option value="0@@@">No existen insumos para agregar</option>
											{%endfor%}						
										</select>
									</td>
									<td align="center"><input style="float:left;" maxlength="12" type="text" id="idInsumoCantidad" name="insumoCantidad" value=""></td>
									<td align="center" id="idCostoInsumoAgergar"></td>		
									<td align="center"><button type="button" style="float:left;" id="idAgregarInsumo" >Agregar</button></td>
								</tr>
								{% set insumosInicial='' %}
								{% for insumo in insumosIncluidos %}						
									<tr id="ins_tr_{{insumo.insumo.id}}">
										<td id="ins_nom_{{insumo.insumo.id}}">{{insumo.insumo.nombre}}</td>
										<td align="center" id="pro_cant_{{insumo.insumo.id}}">{{insumo.cantidad}} {{ insumo.insumo.unidad}}</td>
										<td align="center" id="pro_cost_{{insumo.insumo.id}}">{{ insumo.insumo.costo}}</td>
										<td align="center" ><button class="eliminarInsumoDeLista" type="button" value="{{insumo.insumo.id}}">X</button></td>
										
										{% set insumosInicial=insumosInicial~";"~insumo.insumo.id~"@"~insumo.cantidad~"@"~insumo.insumo.costo~"@"~insumo.insumo.unidad~"@"~insumo.insumo.nombre %}
										
									</tr>
								{% endfor %}
							<tbody>
						</table>
						
					</div>
					
			</div>
			
			
			</div>
			
			{{ form_rest(edit_form) }}

			<p>
				<button class="btn_green_button right" id="btnGuardarCambios" type="submit">Guardar cambios</button>
			</p>
			

			
	</form>
	
	<input type="hidden" id="insumosInicial" value="{{insumosInicial}}">
	<input type="hidden" id="productosInicial" value="{{productosInicial}}">
		
{% block form_record_actions %}
	
	{% endblock form_record_actions %}
	<div class="fix"></div>
	
{% endblock form_content %}

	{% block delete_path %}
			{{ path('producto_delete', { 'id': entity.id }) }}
	{% endblock delete_path %}
	
{% block javascript_extra %}

	<script type="text/javascript" src="{{ asset('bundles/producto/js/producto.js') }}" /></script>
	
	<script type="text/javascript">
		$(window).ready(function(){
			$('#producto_insumos').val($('#insumosInicial').val());
			$('#producto_productos').val($('#productosInicial').val());
		});	
	</script>
	
{% endblock javascript_extra %}
