{% extends "CoobixAdminBundle:Default:list.html.twig" %}

{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('producto') }}" class="current" >Servicio</a>
</div>
{% endblock breadcrumb_in %} 


{% block module_tit %}
Listado de Productos
{% endblock module_tit %}



{% block list_tits %}

{% set widthCols =  94/4  %}


<th style="width: {{ widthCols }}%"{% if entities.isSorted('s.nombre') %} class="sorted" {% endif %}>{{ entities.sortable('Nombre', 's.nombre')|raw }}</th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('s.descripcion') %} class="sorted" {% endif %}>{{ entities.sortable('Descripción', 's.descripcion')|raw }}</a></th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('s.unidad') %} class="sorted" {% endif %}>{{ entities.sortable('Unidad', 's.unidad')|raw }}</th>

{% endblock list_tits %}

{% block list_item_texts %}

<td ><a href="{{ path('producto_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
<td ><a href="{{ path('producto_edit', { 'id': entity.id }) }}">{{ entity.descripcion }}</a></td>
<td ><a href="{{ path('producto_edit', { 'id': entity.id }) }}">{{ entity.unidad }}</a></td>
{% endblock list_item_texts %}

{%block FormBuscar%}
	<form method="post" action="{{path('producto',{pararouting:"buscar"})}}" novalidate="true">
{%endblock%}

{%block camposFormBuscar%}

	{{form_row(formBuscar.p_nombre)}}
	{{form_row(formBuscar.p_unidad)}}
	{{form_row(formBuscar._token)}}	
		
{%endblock%}

{% block menuOpciones %}	{% endblock menuOpciones%}

{% block new_path %} 
{{ path('producto_new') }}
{% endblock new_path %}

{% block edit_path %} 
{{ path('producto_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block delete_path %}

{% endblock delete_path %}

{% block list_delete %}
	{% render "ProductoBundle:Producto:listDeleteform" with {'id': entity.id}  %}
{% endblock list_delete %}



