{% extends "CoobixAdminBundle:Default:edit.html.twig" %}

{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('producto') }}" class="current" >Productos</a>
<div class="breadcrumb_divider"></div> 
<a href="{{ path('producto_edit', { 'id': entity.id }) }}" class="current" >Editar</a>
</div>
{% endblock breadcrumb_in %} 

{% block module_tit %}Editar Producto{% endblock module_tit %}


{% block list_path %}
{{ path('producto') }}
{% endblock list_path %}


{% block form_content %}

	<form action="{{ path('producto_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		
		  
		 {% form_theme edit_form 'CoobixAdminBundle:Form:Fields.html.twig' %}
		
		
			{{ form_widget(edit_form.insumos) }}
			
			{{ form_widget(edit_form) }}
			
			
			<div id="div_producto_precio" class="form_row">
			
				<label class=" required" for="producto_precio">Insumos del producto</label>
				<div class="field_widget">
				
					<table  class="field_widget_insumos" id="tableListInsumos">
						<tr>
							<th>Nombre</th>
							<th>Cantidad</th>
							<th></th>
						</tr>
						<tr>
							<td>
								<select name="selectInsumos" id="idSelectInsumo" style="float:left;">
									{% for insumo in insumos%}
										<option value="{{insumo.id}}">{{insumo.nombre}}</option>
									{%else%}
										<option value="0">No existen insumos para agregar</option>
									{%endfor%}						
								</select>
							</td>
							<td><input style="float:left;" type="text" id="idInsumoCantidad" name="insumoCantidad" value=""></td>
							<td><button type="button" style="float:left;" id="idAgregarInsumo" >Agregar Insumo</button></td>
						</tr>
						{% set insumosInicial='' %}
						{% for insumo in insumosIncluidos %}						
							<tr id="ins_tr_{{insumo.insumo.id}}">
								<td id="ins_nom_{{insumo.insumo.id}}">{{insumo.insumo.nombre}}</td>
								<td id="ins_cant_{{insumo.insumo.id}}">{{insumo.cantidad}}</td>
								<td><button class="eliminarInsumoDeLista" type="button" value="{{insumo.insumo.id}}">X</button></td>
								
								{% set insumosInicial=insumosInicial~";"~insumo.insumo.id~"@"~insumo.cantidad %}
								
							</tr>
						{% endfor %}
					
					</table>
					
					
				</div>
			
			
			</div>
			
			
			<p>
				<button class="btn_green_button right" id="btnGuardarCambios" type="submit">Guardar cambios</button>
			</p>
			
			<input type="hidden" id="insumosInicial" value="{{insumosInicial}}">
			
	</form>
			
	{% block form_record_actions %}
	
	{% endblock form_record_actions %}
	<div class="fix"></div>
	
	
{% endblock form_content %}






	{% block delete_path %}
			{{ path('producto_delete', { 'id': entity.id }) }}
	{% endblock delete_path %}
	
{% block javascript_extra %}

	<script type="text/javascript" src="{{ asset('bundles/producto/js/producto.js') }}" /></script>
	
	<script type="text/javascript">
		$(window).ready(function(){
			$('#producto_insumos').val($('#insumosInicial').val());
		});	
	</script>
	
{% endblock javascript_extra %}
