{% extends "CoobixAdminBundle:Default:new.html.twig" %}
{% import "PedidoBundle:Pedido:macros.html.twig" as macrosPedido %}

{%block main_path%}
	{% if is_granted('ROLE_ADMINISTRACION') %}
	{% endif %}
{%endblock main_path%}

{% block module_tit %}
	Plan de Producción: {{ entity.nombre }}
{% endblock module_tit %}



{% block menuAcciones %}{% endblock menuAcciones %}

{% block menuOpciones %}{% endblock menuOpciones %}




{% block form_content %}

		
				
					<div class="panelAgregar border_radius">
						<table  class="records_list">
							<thead>
								<tr>
									<th width="300"></th>
									{% for dia in dias %}
										<th width="100" align="center">{{ dia | date('d/m') }}</th>
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Necesidad Bruta</td>
									{% for matriz in matrizMRP %}
										<td align="center">{{ matriz.necesidadBruta }}</td>
									{% endfor %}
								</tr>
								<tr>
									<td >Disponibilidad</td>
									{% for matriz in matrizMRP %}
										<td align="center">{{ matriz.disponibilidad }}</td>
									{% endfor %}
								</tr>
								<tr>
									<td>Stock de Seguridad</td>
									{% for matriz in matrizMRP %}
										<td align="center">{{ matriz.stockSeguridad }}</td>
									{% endfor %}
									
								</tr>
								<tr>
									<td>Necesidad Neta</td>
									{% for matriz in matrizMRP %}
											<td align="center">{{ matriz.necesidadNeta }}</td>
									{% endfor %}
								</tr>
								<tr>
									<td>Cantidad a Producir</td>
									{% for matriz in matrizMRP %}
										<td align="center">
											{% if matriz.emisionOrdenPlanificada>240 %}
												<span style="color:red; font-weight: bold">{{ matriz.emisionOrdenPlanificada }}</span>
											{% else %}
												{{ matriz.emisionOrdenPlanificada }}
											{% endif %}
										</td>
									{% endfor %}
									
								</tr>
							</tbody>						
						</table>
				
					</div>
			
						
			
		
		
	<div class="fix"></div>
{% endblock form_content %}

{% block javascript_extra %}	

	<script type="text/javascript">
	
	
	
	</script>

{% endblock javascript_extra %}