<form id="{{id}}_idFormEliminar" action="{{url}}" method="post">
	{{ form_widget(delete_form) }}
	<div style="display:none" id="{{id}}_idMsjEliminar">{{msj}}</div>
	<button id="{{id}}_idBtnEliminar" class="btn_red_button right btnEditEliminar" type="button" >Eliminar</button>
</form>
			
