<!DOCTYPE html>

<html>
    <head>


	{% block stylesheets %}

	<link rel="stylesheet" href="{{ asset('bundles/coobixadmin/css/reset.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ asset('bundles/coobixadmin/css/layout.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ asset('bundles/coobixadmin/css/typo.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ asset('bundles/coobixadmin/css/buscador.css') }}" type="text/css" media="all" />
	
	<link rel="stylesheet" href="{{ asset('bundles/coobixadmin/css/layout_nico.css') }}" type="text/css" media="all" />
	
	<link rel="stylesheet" href="{{ asset('bundles/coobixadmin/css/layout_diego.css') }}" type="text/css" media="all" />
	
	<script type="text/javascript" src="{{ asset('bundles/coobixadmin/js/jquery.1.8.js') }}" /></script>
	<script type="text/javascript" src="{{ asset('bundles/coobixadmin/js/componentes/buscador.js') }}" /></script>
	<script type="text/javascript" src="{{ asset('bundles/coobixadmin/js/componentes/eliminar.js') }}" /></script>
	<script type="text/javascript" src="{{ asset('bundles/coobixadmin/js/componentes/menus.js') }}" /></script>

	

	{% endblock stylesheets %}

    {% block javascripts %}
	
	{% endblock javascripts %}

    </head>
    <body>
	{% block header %}
	<div id="header">
		<div class="account_cont">
			
			<span class="left txt_white txt3">Hola {{ app.user.nombre }}</span>
			
			<span class="left txt_green txt3">&nbsp;|&nbsp;</span>
			
			<a href="{{ path('fos_user_security_logout') }}" id="btnLogOut" class="txt_white txt3">
				Salir
			</a>
		</div>
	</div> 
	{% endblock header %}
	

	
	{% block sidebar %}
	<div id="sidebar" class="column border_radius">
	
		<div class="menu">
		{##}
		{#

			{% for key, role in app.user.getroles() %}
				{% if role == 'ROLE_USER' %}
		#}	
		
			{% if is_granted('ROLE_ADMIN') %}
			{% endif %}
			
			
			<div class="menuTab">
				<div class="tabTit txt3" id="logTit">
					<a class="txt3" href="{{ path('log') }}?todas=1">Notificaciones</a>
				</div>	
			</div>
			
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			<div class="menuTab">
				<div class="tabTit txt3" id="miAccountTit">
					<a class="txt3" href="{{ path('usuario') }}">Usuarios</a>
				</div>
			</div>
			{% else %}
			<div class="menuTab">
				<div class="tabTit txt3" id="miAccountTit">
					<a class="txt3" href="{{ path('usuario_edit', { 'id': app.user.id }) }}">Mi Cuenta</a>
				</div>
			</div>
			{% endif %}
			{#
			<div class="menuTab">
				<div class="tabTit txt3" id="miAccountTit">Usuarios</div>
				<ul class="tabUl">
					
				
					<li class="itemsTabUl"><a class="txt16" href="{{ path('usuario_edit', { 'id': app.user.id }) }}">Mi Cuenta</a></li>
					
					{% if is_granted('ROLE_SUPER_ADMIN')  %}
					<li class="itemsTabUl"><a class="txt16" href="{{ path('usuario') }}">Listar Usuarios</a></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('usuario_new') }}">Crear Usuario</a></li>
					{% endif %}
				</ul>	
			</div>
			#}
			
			{% if is_granted('ROLE_ADMINISTRACION') %}
			<div class="menuTab">
				<div class="tabTit txt3" id="clienteTit"><a class="txt3" href="{{ path('cliente') }}">Clientes</a></div>
			
			</div>
			{% endif %}
			
			
			
			

			
			{#
			<div class="menuTab">
				<div class="tabTit txt3" id="clienteTit">Clientes</div>
				<ul class="tabUl">
					<li class="itemsTabUl"><a class="txt16" href="{{ path('cliente') }}">Listar Clientes</a></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('cliente_new') }}">Crear Cliente</a></li>
				</ul>	
			</div>
			#}
			
			{% if is_granted('ROLE_ADMINISTRACION') %}
			<div class="menuTab">
				<div class="tabTit txt3" id="pedidoTit">Pedidos</div>
				<ul class="tabUl">
					<li class="itemsTabUl"><a class="txt16" href="{{ path('pedido') }}">Pedidos</a></li>
					
					
					<li class="sepItemsTabUl"></li>
					
					<li class="itemsTabUl"><a class="txt16" href="{{ path('relevamiento') }}">Relevamientos</a></li>
					{#<li class="itemsTabUl"><a class="txt16" href="{{ path('relevamiento_new') }}">Crear Relevamiento</a></li>#}
					
					<li class="sepItemsTabUl"></li>
					
					<li class="itemsTabUl"><a class="txt16" href="{{ path('presupuesto') }}">Presupuestos</a></li>
					{#<li class="itemsTabUl"><a class="txt16" href="{{ path('presupuesto_new') }}">Crear Presupuesto</a></li>#}
					
				</ul>	
			</div>
			{% endif %}

			
			{#
			<div class="menuTab">
				<div class="tabTit txt3" id="pedidoTit">Pedidos</div>
				<ul class="tabUl">
					<li class="itemsTabUl"><a class="txt16" href="{{ path('pedido') }}">Listar Pedidos</a></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('pedido_new') }}">Crear Pedido</a></li>
					
					<li class="sepItemsTabUl"></li>
					
					<li class="itemsTabUl"><a class="txt16" href="{{ path('relevamiento') }}">Listar Relevamientos</a></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('relevamiento_new') }}">Crear Relevamiento</a></li>
					
					<li class="sepItemsTabUl"></li>
					
					<li class="itemsTabUl"><a class="txt16" href="{{ path('presupuesto') }}">Listar Presupuestos</a></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('presupuesto_new') }}">Crear Presupuesto</a></li>
					
				</ul>	
			</div>
			#}
			
			{% if is_granted('ROLE_ADMINISTRACION') %}
				<div class="menuTab">
				<div class="tabTit txt3" id="pedidoTit">Productos y Servicios</div>
				<ul class="tabUl">
					<li class="itemsTabUl"><a class="txt16" href="{{ path('producto') }}">Productos</a></li>
					
					
					<li class="sepItemsTabUl"></li>
					
					<li class="itemsTabUl"><a class="txt16" href="{{ path('servicio') }}">Servicios</a></li>

					
					<li class="sepItemsTabUl"></li>
					
					<li class="itemsTabUl"><a class="txt16" href="{{ path('insumo') }}">Insumos</a></li>
				
					
				</ul>	
			</div>
			{% endif %}
			
			{#
			<div class="menuTab">
				<div class="tabTit txt3" id="pedidoTit">Productos y Servicios</div>
				<ul class="tabUl">
					<li class="itemsTabUl"><a class="txt16" href="{{ path('producto') }}">Listar Productos</a></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('producto_new') }}">Crear Producto</a></li>					
					
					<li class="sepItemsTabUl"></li>
					
					<li class="itemsTabUl"><a class="txt16" href="{{ path('servicio') }}">Listar Servicios</a></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('servicio_new') }}">Crear Servicio</a></li>
					
					<li class="sepItemsTabUl"></li>
					
					<li class="itemsTabUl"><a class="txt16" href="{{ path('insumo') }}">Listar Insumos</a></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('insumo_new') }}">Crear Insumos</a></li>
					
				</ul>	
			</div>
			#}
			

			
			<div class="menuTab">
				<div class="tabTit txt3" id="stockTit">Stock</div>
				<ul class="tabUl">
				
					<li class="itemsTabUl"><a class="txt16" href="{{ path('solicitudmovimiento') }}">Solicitudes</a></li>
					<li class="sepItemsTabUl"></li>
				
					<li class="itemsTabUl"><a class="txt16" href="{{ path('movimientostock_new',{'accion':1,'tipo':1}) }}">Agregar Productos a Stock</a></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('movimientostock_new',{'accion':2,'tipo':1}) }}">Eliminar Productos de Stock</a></li>
					<li class="sepItemsTabUl"></li>
					
					<li class="itemsTabUl"><a class="txt16" href="{{ path('movimientostock_new',{'accion':1,'tipo':2}) }}">Agregar Insumos a Stock</a></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('movimientostock_new',{'accion':2,'tipo':2}) }}">Eliminar Insumos de Stock</a></li>

				</ul>	
			</div>
			
			
			{#
			{% if is_granted('ROLE_SUPER_ADMIN') %}

			<div class="menuTab">
				<div class="tabTit txt3" id="estadisticasTit">Informes</div>
				<ul class="tabUl">
					<li class="itemsTabUl"><a class="txt16" href="{{ path('proceso') }}">Procesos</a></li>

				</ul>	
			</div>
			{% endif %}
			#}
			
			
			{% if is_granted('ROLE_DEPOSITO') %}

			<div class="menuTab">
				<div class="tabTit txt3" id="NProdTit">Producción</div>
				<ul class="tabUl">
					<li class="itemsTabUl"><a class="txt16" href="{{ path('proceso') }}">Procesos</a></li>

					<li class="sepItemsTabUl"></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('molde') }}">Moldes</a></li>

					<li class="sepItemsTabUl"></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('mesa') }}">Mesas</a></li>
					
					<li class="sepItemsTabUl"></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('secador_estado') }}">Secadores</a></li>
					{#
					<li class="itemsTabUl"><a class="txt16" href="{{ path('secador') }}">Listar Secadores</a></li>
					<li class="itemsTabUl"><a class="txt16" href="{{ path('secador_new') }}">Crear Secadores</a></li>
					#}
				</ul>	
			</div>
			{% endif %}
			

			

			
			
			
			
			
			
		

	</div>	
		
	</div>
	{% endblock sidebar %}
	
	
	{% block main %}
	<div id="main" class="column">
		<div class="main_path">
			{%block main_path%}
			{%endblock main_path%}
		</div>
		{% block main_content %}
		
	
		
		
		

		{% endblock main_content %}
		<div class="spacer"></div>
	</div>
	{% endblock main %}

	{%block javascript_extra%}
	
	{%endblock javascript_extra%}

    </body>
</html>
