{% extends "CoobixAdminBundle:Default:edit.html.twig" %}

{%block main_path%}
<ul>
	<li><a class="btn_back_to_list txt16 txt_green" href="{{ path('cliente_edit',{'id':entity.cliente.id}) }}">Cliente: {{entity.cliente}}</a></li>
	<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('pedido_edit',{'id':entity.id}) }}">Pedido: {{entity.numero}}, {{entity.nombre}}</a></li>
</ul>
{%endblock main_path%}


{% block module_tit %}Editar Pedido{% endblock module_tit %}			
			
{% block menuAccionesItems%}
<li>
	<form action="{{ path('pedido_delete', { 'id': entity.id }) }}" method="post">
		{{ form_widget(delete_form) }}
		<button type="submit">Eliminar</button>
	</form>
</li>
{% endblock menuAccionesItems%}
			
{% block menuOpcionesItems %}
	{%if entity.requiereRelevamiento==1%}	
		<li><a href="{{ path('relevamiento_por_pedido',{'pedido': entity.id}) }}">Listar Relevamientos del Pedido</a></li>
		<li><a href="{{path('relevamiento_new',{'pedido':entity.id})}}">Crear Relevamiento al Pedido</a></li>
		<li class="separador"></li>
	{%endif%}
		<li><a  href="{{ path('presupuesto_por_pedido',{'pedido': entity.id}) }}">Listar Presupuestos del Pedido</a></li>
		<li><a  href="{{path('presupuesto_new',{'pedido':entity.id})}}">Crear Presupuesto al Pedido</a></li>
		
		<li class="separador"></li>
		<li><a href="{{path('pedidos_por_cliente',{'cliente':entity.cliente.id})}}">Listar Pedidos del Cliente</a></li>
		<li><a href="{{path('pedido_new',{'cliente':entity.cliente.id})}}">Crear Pedido a Cliente</a></li>
		<li class="separador"></li>
		<li><a href="{{path('cliente_edit',{'id':entity.cliente.id})}}">Editar Cliente</a></li>
		
{% endblock menuOpcionesItems %}


{% block form_content %}
	
	<div id="datosPedidoContenido">
			<form action="{% block update_path %}{{ path('pedido_update', { 'id': entity.id }) }}{% endblock update_path %}" method="post" {{ form_enctype(edit_form) }}>
			{% form_theme edit_form 'CoobixAdminBundle:Form:Fields.html.twig' %}
			
				<div id="div_pedido_numero" class="form_row">
					<label for="pedido_numero" class=" required">Número</label>
					<div>{{entity.numero}}</div>
				</div>
		
				<div id="div_pedido_numero" class="form_row">
					<label for="pedido_numero" class=" required">Estado</label>
					<div>{{entity.estadoNombre}}</div>
				</div>
		
				{{ form_widget(edit_form) }}
				
				
				
				<p>
					<button id="btnGuardarCambios" class="btn_green_button right" type="submit">Guardar cambios</button>
				</p>
				
			</form>
			
			
			
			{% block form_record_actions %}
			<ul class="form_record_actions">
				{%block list_extras%}
					
				{%endblock%}
				
				{% block delete_btn %}
				
				{% endblock delete_btn %}
			</ul>
			{% endblock form_record_actions %}
		
	</div>
{% endblock form_content %}




{% block otros %}

  {%if entity.requiereRelevamiento==1%}	
	<div id="relevamientosPedidoContenido">
	
			<div class="tab_container border_radius">
			
						<table class="records_list">
			
							<thead>
								<tr>
									<th>Número</th>
									<th>Nombre</th>
									<th></th>
								</tr>
							</thead>
								
							<tbody>
							{% for relevamiento in entity.relevamientos %}
								<tr>
									<td><a href="{{ path('relevamiento_edit', { 'id': relevamiento.id }) }}" title="Editar">{{relevamiento.numero}}</a></td>
									<td><a href="{{ path('relevamiento_edit', { 'id': relevamiento.id }) }}" title="Editar">{{relevamiento.nombre}}</a></td>
									<td width="20">
										<ul>
											<li>
												<a class="list_edit_btn" href="{{ path('relevamiento_edit', { 'id': relevamiento.id }) }}" title="Editar"></a>
											</li>
										</ul>
									</td>
								</tr>
								
								{% else %}
								<tr class="trColor1">
									<td colspan="0">
										<span class="txt16">No existen registros.</span>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					
								
				</div>
		</div>
	
	{%endif%}	
		
	<div id="presupuestosPedidoContenido">	

		<div class="tab_container border_radius">
		
					<table class="records_list">
		
						<thead>
							<tr>
								<th>Número</th>
								<th>Nombre</th>
								<th>Estado</th>
								<th></th>
							</tr>
						</thead>
							
						<tbody>
						{% for presupuesto in entity.presupuestos %}
							<tr>
								<td><a href="{{ path('presupuesto_edit', { 'id': presupuesto.id }) }}" title="Editar">{{presupuesto.numero}}</a></td>
								<td><a href="{{ path('presupuesto_edit', { 'id': presupuesto.id }) }}" title="Editar">{{presupuesto.nombre}}</a></td>
								<td><a href="{{ path('presupuesto_edit', { 'id': presupuesto.id }) }}" title="Editar">{{presupuesto.estadoNombre}}</a></td>
								<td width="20">
									<ul>
										<li>
											<a class="list_edit_btn" href="{{ path('presupuesto_edit', { 'id': presupuesto.id }) }}" title="Editar"></a>
										</li>
									</ul>
								</td>
							</tr>
							
							{% else %}
							<tr class="trColor1">
								<td colspan="0">
									<span class="txt16">No existen registros.</span>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				
							
			</div>
	</div>
{% endblock otros %}

{% block javascript_extra %}

<script type="text/javascript">
	var urlDepartamento="{{url('ubicacion_cargar_departamento')}}";
	var urlLocalidad="{{url('ubicacion_cargar_localidad')}}";
</script>

<script type="text/javascript" src="{{ asset('bundles/pedido/js/pedido.js') }}" /></script>
{% endblock javascript_extra %}
