{% macro menuOpciones(pedido) %}


			{% if (pedido.estado > 3) %}
				<li><a href="{{path('solicitudmovimiento_por_pedido',{'pedido':pedido.id})}}">Listar Solicitudes a Stock</a></li>
				<li><a href="{{path('solicitudmovimiento_new',{'paramPedido':pedido.id})}}">Crear Solicitud a Stock</a></li>
				<li class="separador"></li>
			{% endif %}
						
			{% if (pedido.requiereRelevamiento) %}
				<li><a href="{{ path('relevamiento_por_pedido',{'pedido': pedido.id}) }}">Listar Relevamientos del Pedido</a></li>
				<li><a href="{{path('relevamiento_new',{'pedido':pedido.id})}}">Crear Relevamiento al Pedido</a></li>
				<li class="separador"></li>
			{% endif %}
			
			<li><a  href="{{ path('presupuesto_por_pedido',{'pedido': pedido.id}) }}">Listar Presupuestos del Pedido</a></li>
			<li><a  href="{{path('presupuesto_new',{'pedido':pedido.id})}}">Crear Presupuesto al Pedido</a></li>
			
			{#<li class="separador"></li>
						
			<li><a href="{{path('pedidos_por_cliente',{'cliente':pedido.cliente.id})}}">Listar Pedidos del Cliente</a></li>
			<li><a href="{{path('pedido_edit',{'id':pedido.id})}}">Editar Pedido</a></li>
			<li><a href="{{path('pedido_new',{'cliente':pedido.cliente.id})}}">Crear Pedido a Cliente</a></li>
			
			<li class="separador"></li>
			<li><a href="{{path('cliente_edit',{'id':pedido.cliente.id})}}">Editar Cliente</a></li> #}

{% endmacro %}


{% macro guia(pedido) %}

	{% if (pedido.estado <3 ) %}
		<a  href="{{path('presupuesto_new',{'pedido':pedido.id})}}" class="btn_blue right">Crear Presupuesto al pedido</a>
		{% if (pedido.requiereRelevamiento and pedido.estado<2) %}
			<a href="{{path('relevamiento_new',{'pedido':pedido.id})}}" class="btn_blue right">Crear Relevamiento al Pedido</a>
		{% endif %}
	{% endif %}
	
	{% if (pedido.estado == 3 ) %}
		<a  href="{{ path('presupuesto_por_pedido',{'pedido': pedido.id}) }}" class="btn_blue right">Listar Presupuestos Candidatos a Ser Aprobados</a>
	{% endif %}
	
	{% if (pedido.estado == 4 ) %}
		<a  href="{{path('solicitudmovimiento_new',{'paramPedido':pedido.id})}}" class="btn_blue right">Crear Solicitud a Stock</a>
	{% endif %}
		

{% endmacro %}