{% extends "DecoyesoEstadisticaBundle:Grafico:admin_index.html.twig" %}


{% block module_form_estadisticas %}
		<form action="{% block formUrl %}{% endblock formUrl %}" class="NformGraficos" method="get">
			{% block form_estadisticas_cont %}
			
			<div class="module_tit txt3">Desde: <input readonly="readonly" type="text" name="fechaDesde" id="fechaDesde" value="{{ request["fechaDesde"]|date("d-m-Y") }}" class="NfechasGraficos" /> </div>
			<div class="module_tit txt3">Hasta: <input readonly="readonly" type="text" name="fechaaHasta" id="fechaaHasta" value="{{ request["fechaHasta"]|date("d-m-Y") }}" class="NfechasGraficos"/></div>
			
		
			
			{% endblock form_estadisticas_cont %}
			<button class="btn_green_button right" type="submit">Actualizar</button>
			
			<div class="fix"></div>
		</form>
{% endblock module_form_estadisticas %}




{% block module_content_estadisticas%}

<div class="NcontChart" style="">
		{#
		<a href="{{ path('grafico_show', { 'grafico': 30 }) }}" class="NImagenVerGrafico txt3">Ver más</a>
		#}
		{{ graficos[1].renderChart() }}        
</div>	
<div class="NcontChart" style="">
		{#
		<a href="{{ path('grafico_show', { 'grafico': 30 }) }}" class="NImagenVerGrafico txt3">Ver más</a>
		#}
		{{ graficos[2].renderChart() }}        
</div>	

{#

#}	
{% endblock module_content_estadisticas%}
