{% extends "CoobixAdminBundle:Default:new.html.twig" %}


{% block breadcrumb_in %}

	<div class="breadcrumbs">
		<a href="{{ path('movimientostock') }}" class="current" >Agregar Productos/Insumos</a>
	</div>
	<div class="breadcrumb_divider"> 
		<a href="{{ path('movimientostock_new') }}" class="current" >Agregar</a>
	</div>
	
{% endblock breadcrumb_in %} 

{% block module_tit %}
	{% if accion==1 %}
		{% set tipoAccion='Agregar ' %}
	{% else %}
		{% set tipoAccion='Eliminar ' %}
	{% endif %}
	
	{% if tipo==1 %}
		{% set tipoNombre='Productos' %}
	{% else %}
		{% set tipoNombre='Insumos' %}
	{% endif %}
	
	{% if accion==1 %}
		{{ tipoAccion }} {{ tipoNombre }} a Stock
	{% else %}
		{{ tipoAccion }} {{ tipoNombre }} de Stock
	{% endif %}
	
	
	
{% endblock module_tit %}


{% block list_path %}
	{{ path('movimientostock') }}
{% endblock list_path %}


{% block form_content %}
	{% block errorMsj %}{% endblock errorMsj %}
	<form  action="{% block create_path %}{{ path('movimientostock_create',{'tipo':tipo}) }}{% endblock create_path %}" method="post" id="formMovimientoStock" {{ form_enctype(form) }}>
		{% form_theme form 'CoobixAdminBundle:Form:Fields.html.twig' %}
		{{ form_widget(form.accion,{'attr':{'value': accion } }) }}
		{{ form_rest(form) }}
		<p>
			<button class="btn_green_button right" id="btnGuardarCambios" type="submit">Guardar cambios</button>
		</p>
	</form>
		
		
	<div class="fix"></div>
{% endblock form_content %}


{%block javascript_extra%}
	
	<script type="text/javascript" src="{{ asset('bundles/stock/js/movimientostock.js') }}" /></script>

	<script type="text/javascript">

		{% if accion==1 %}
			var parImpar=0;		
		{% else %}
			var parImpar=1;
		{% endif %}

		$('#movimientostock_motivo option').each(function(index,el){
			
			if(($(el).val())%2==parImpar){
				$(el).remove();
			}
		});
		
	</script>
	
{%endblock javascript_extra%}


