{% extends "CoobixAdminBundle:Default:list.html.twig" %}

{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('producto') }}" class="current" >Servicio</a>
</div>
{% endblock breadcrumb_in %} 


{% block module_tit %}
	Resumen Stock de {% if pararouting=='producto' %} Productos {% else %} Insumos {% endif %}
{% endblock module_tit %}


{% block list_tits %}

{% set widthCols =  94/4  %}


<th style="width: {{ widthCols }}%"{% if entities.isSorted('s.nombre') %} class="sorted" {% endif %}>{{ entities.sortable('Nombre', 's.nombre')|raw }}</th>
<th align="center">Cant. Presupuestada Sin Procesar</th>
<th align="center">Cant. Solicitada a Stock sin Procesar</th>
<th align="center">Cant. en Stock</th>

{% endblock list_tits %}

{% block list_item_texts %}

<td >{{ entity.nombre }}</td>
<td align="center">{{ (entity.getCantidadPresupuestadaAprobada-entity.getCantidadEntregadaStock) }}</td>
<td align="center">{{ entity.getCantidadSolicitadaStock }}</td>
<td align="center">{{ entity.cantidadEnStock }}</td>
<td   style="width: 6%" >&nbsp;</td>

{% endblock list_item_texts %}

{%block buscador%}{%endblock buscador%}

{% block list_buttons %}{% endblock list_buttons %}

{% block menuAcciones %}{% endblock menuAcciones %}
{% block menuOpciones %}{% endblock menuOpciones %}


