{% extends "CoobixAdminBundle:Default:edit.html.twig" %}

{%block main_path%}
<ul>
	<li><a class="btn_back_to_list txt16 txt_green" href="{{ path('cliente_edit',{'id': entity.id}) }}">Cliente: {{entity.nombre}}</a></li>
	<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('cliente_edit',{'id': entity.id}) }}">Editar Cliente</a></li>
</ul>
{%endblock main_path%}

{% block module_tit %}Editar Cliente{% endblock module_tit %}			
			
{% block menuAcciones%}

	{% render "ClientesBundle:CLiente:accionDeleteform" with {'id': entity.id}  %}

{% endblock menuAcciones%}
			
{% block menuOpcionesItems %}
	<li><a href="{{path('pedidos_por_cliente',{'cliente':entity.id})}}">Listar Pedidos del Cliente</a></li>
	<li><a href="{{path('pedido_new',{'cliente':entity.id})}}">Crear Pedido a Cliente</a></li>
{% endblock menuOpcionesItems %}
			

{% block list_path %}
	{{ path('cliente') }}
{% endblock list_path %}

{% block delete_path %}
	{{ path('cliente_delete', { 'id': entity.id }) }}
{% endblock delete_path %}


{% block form_content %}

	<div id="datosClienteContenido">

				<form action="{% block update_path %}{{ path('cliente_update', { 'id': entity.id }) }}{% endblock update_path %}" method="post" {{ form_enctype(edit_form) }}>
				{% form_theme edit_form 'CoobixAdminBundle:Form:Fields.html.twig' %}
				
				<div class="form_row">
					<label for="cliente_numero" class=" required">Número</label>
					<div>{{entity.numero}}</div>
				</div>
				
				
				{{ form_widget(edit_form) }}
					<p>
						<button class="btn_green_button right" type="submit">Guardar cambios</button>
					</p>
				</form>
				
				
				
				{% block form_record_actions %}
				<ul class="form_record_actions">
					{%block list_extras%}
						
					{%endblock%}
					
					{% block delete_btn %}
					
					{% endblock delete_btn %}
				</ul>
				{% endblock form_record_actions %}
		
	</div>	

		
{% endblock form_content %}

{% block otros %}{%endblock otros%}

{% block javascript_extra %}

<script type="text/javascript">
	var urlDepartamento="{{url('ubicacion_cargar_departamento')}}";
	var urlLocalidad="{{url('ubicacion_cargar_localidad')}}";
</script>
<script type="text/javascript" src="{{ asset('bundles/clientes/js/cliente.js') }}" /></script>
{% endblock javascript_extra %}

