{% extends "CoobixAdminBundle:Default:edit.html.twig" %}

{%block main_path%}
<ul>
	<li><a class="btn_back_to_list txt16 txt_green" href="{{ path('cliente_edit',{'id': entity.id}) }}">Cliente: {{entity.nombre}}</a></li>
	<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('cliente_edit',{'id': entity.id}) }}">Editar Cliente</a></li>
</ul>
{%endblock main_path%}

{% block module_tit %}Editar Cliente{% endblock module_tit %}			
			
{% block menuAccionesItems%}
<li>
	<form action="" method="post">
		{{ form_widget(delete_form) }}
		<button id="clienteEliminarBtn" type="submit">Eliminar cliente</button>
	</form>
</li>
{% endblock menuAccionesItems%}
			
{% block menuOpcionesItems %}
	<li><a href="{{path('pedidos_por_cliente',{'cliente':entity.id})}}">Listar Pedidos del Cliente</a></li>
	<li><a href="{{path('pedido_new',{'cliente':entity.id})}}">Crear Pedido a Cliente</a></li>
{% endblock menuOpcionesItems %}
			



{% block form_content %}

	<div id="datosClienteContenido">

				<form action="{% block update_path %}{{ path('cliente_update', { 'id': entity.id }) }}{% endblock update_path %}" method="post" {{ form_enctype(edit_form) }}>
				{% form_theme edit_form 'CoobixAdminBundle:Form:Fields.html.twig' %}
				
				<div class="form_row">
					<label for="cliente_numero" class=" required">Número</label>
					<div>{{entity.numero}}</div>
				</div>
				
				
				{{ form_widget(edit_form) }}
					<p>
						<button class="btn_green_button right" type="submit">Guardar cambios</button>
					</p>
				</form>
				
				
				
				{% block form_record_actions %}
				<ul class="form_record_actions">
					{%block list_extras%}
						
					{%endblock%}
					
					{% block delete_btn %}
					
					{% endblock delete_btn %}
				</ul>
				{% endblock form_record_actions %}
		
	</div>	

		
{% endblock form_content %}

{% block otros %}

	<div id="pedidosClienteContenido">	
	
			
			
			<div class="tab_container border_radius">
		
					<table class="records_list">
		
						<thead>
							<tr>
								<th >Nombre</th>
								<th>Entregar el</th>
								<th align="center" >Prioridad</th>
								<th align="center">Estado</th>
								<th align="center"></th>
							</tr>
						</thead>
							
						<tbody>
						{% for pedido in entity.pedido %}
							<tr>
								<td><a href="{{ path('pedido_edit', { 'id': pedido.id }) }}" title="Editar">{{pedido.nombre}}</a></td>
								<td><a href="{{ path('pedido_edit', { 'id': pedido.id }) }}" title="Editar">{{pedido.fechaEntrega | date('d/m/Y') }}</a></td>
								<td align="center"><a href="{{ path('pedido_edit', { 'id': pedido.id }) }}" title="Editar">{{pedido.prioridadNombre}}</a></td>
								<td align="center"><a href="{{ path('pedido_edit', { 'id': pedido.id }) }}" title="Editar">{{pedido.estadoNombre}}</a></td>
								<td width="20">
									<ul>
										<li>
											<a class="list_edit_btn" href="{{ path('pedido_edit', { 'id': pedido.id }) }}" title="Editar"></a>
										</li>
									</ul>
								</td>
							</tr>
							
							{% else %}
							<tr class="trColor1">
								<td colspan="0">
									<span class="txt16">No existen registros.</span>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				
							
			</div>
			
		</div>

{%endblock otros%}

{% block javascript_extra %}

<script type="text/javascript">
	var urlDepartamento="{{url('ubicacion_cargar_departamento')}}";
	var urlLocalidad="{{url('ubicacion_cargar_localidad')}}";
</script>
<script type="text/javascript" src="{{ asset('bundles/clientes/js/cliente.js') }}" /></script>
{% endblock javascript_extra %}

