{% extends "CoobixAdminBundle:Default:list.html.twig" %}

{% block module_tit %}
Listado de Moldes
{% endblock module_tit %}

{% block menuAcciones%}{% endblock menuAcciones%}

{% block list_tits %}

{% set widthCols =  94/2 %}

<th style="width: {{ widthCols }}%"{% if entities.isSorted('p.producto') %} class="sorted" {% endif %}>{{ entities.sortable('Producto', 'p.producto')|raw }}</a></th>


<th style="width: {{ widthCols }}%"{% if entities.isSorted('p.nombre') %} class="sorted" {% endif %}>{{ entities.sortable('Nombre', 'p.nombre')|raw }}</a></th>




{% endblock list_tits %}

{% block list_item_texts %}
<td >
	<a href="{{ path('molde_edit', { 'id': entity.id }) }}">
		{{ entity.producto }}
	</a>
</td>
<td >
	<a href="{{ path('molde_edit', { 'id': entity.id }) }}">
		
		{{ entity.nombre }}
		
	</a>
</td>

{% endblock list_item_texts %}




{%block FormBuscar%}
	<form method="post" action="{{path('molde',{pararouting:"buscar"})}}" novalidate="true">
{%endblock%}

{%block camposFormBuscar%}
	<div id="formBuscar">
		
		{{form_row(formBuscar._token)}}
		{{form_row(formBuscar.p_nombre)}}
		
	</div>
{%endblock%}

{% block new_path %} 
{{ path('molde_new') }}
{% endblock new_path %}

{% block edit_path %} 
{{ path('molde_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block delete_path %}
{{ path('molde_delete', { 'id': entity.id }) }}
{% endblock delete_path %}

{% block list_delete %}
{% render "DecoyesoProduccionBundle:Molde:listDeleteform" with {'id': entity.id}  %}
{% endblock list_delete %}





