{% extends "CoobixAdminBundle:Default:edit.html.twig" %}

{%block main_path%}
	<ul>
		<li><a class="btn_back_to_list txt16 txt_green" href="{{ path('cliente_edit',{'id':entity.pedido.cliente.id}) }}">Cliente: {{entity.pedido.cliente}}</a></li>
		<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('pedido_edit',{'id':entity.pedido.id}) }}">Pedido: {{entity.pedido.numero}}, {{entity.pedido.nombre}}</a></li>
		<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('relevamiento_edit',{'id':entity.id}) }}">Relevamiento: {{entity.numero}}</a></li>
		<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('relevamiento_edit',{'id':entity.id}) }}">Editar Relevamiento</a></li>
	</ul>
{%endblock main_path%}

{% block module_tit %}
	Editar Relevamiento
{% endblock module_tit %}

{% block menuOpcionesItems %}
				
			<li><a href="{{ path('relevamiento_por_pedido',{'pedido': entity.pedido.id}) }}">Listar Relevamientos del Pedido</a></li>
			<li><a href="{{path('relevamiento_new',{'pedido':entity.pedido.id})}}">Crear Relevamiento al Pedido</a></li>
			<li class="separador"></li>
			
			<li><a  href="{{ path('presupuesto_por_pedido',{'pedido': entity.pedido.id}) }}">Listar Presupuestos del Pedido</a></li>
			<li><a  href="{{path('presupuesto_new',{'pedido':entity.pedido.id})}}">Crear Presupuesto al Pedido</a></li>
			<li class="separador"></li>
						
			<li><a href="{{path('pedidos_por_cliente',{'cliente':entity.pedido.cliente.id})}}">Listar Pedidos del Cliente</a></li>
			<li><a href="{{path('pedido_edit',{'id':entity.pedido.id})}}">Editar Pedido</a></li>
			<li><a href="{{path('pedido_new',{'cliente':entity.pedido.cliente.id})}}">Crear Pedido a Cliente</a></li>
			
			<li class="separador"></li>
			<li><a href="{{path('cliente_edit',{'id':entity.pedido.cliente.id})}}">Editar Cliente</a></li>

	
{% endblock menuOpcionesItems %}
	
{% block menuAccionesItems%}
<li>
	<form action="{{ path('relevamiento_delete', { 'id': entity.id }) }}" method="post">
		{{ form_widget(delete_form) }}
		<button type="submit">Eliminar</button>
	</form>
</li>
{% endblock menuAccionesItems%}


{% block form_content %}
		<form action="{% block update_path %}{{ path('relevamiento_update', { 'id': entity.id }) }}{% endblock update_path %}" method="post" {{ form_enctype(edit_form) }}>
		{% form_theme edit_form 'CoobixAdminBundle:Form:Fields.html.twig' %}
		
		<div id="div_relevamiento_numero" class="form_row">
			<label for="relevamiento_numero" class=" required">Número</label>
			<div>{{entity.numero}}</div>
		</div>
		
		
		{{ form_widget(edit_form) }}
			<p>
				<button class="btn_green_button right" type="submit">Guardar cambios</button>
			</p>
		</form>
		
		
		
		{% block form_record_actions %}
		
			{% block delete_btn %}
			
			{% endblock delete_btn %}
		
		{% endblock form_record_actions %}
		<div class="fix"></div>
{% endblock form_content %}

{% block javascript_extra %}
	
{% endblock javascript_extra %}


