{% extends "CoobixAdminBundle:Default:list.html.twig" %}
{% import "PedidoBundle:Pedido:macros.html.twig" as macrosPedido %}

{%block main_path%}
<ul>
	<li><a class="btn_back_to_list txt16 txt_green" href="{{ path('cliente_edit',{'id': pedido.cliente.id}) }}">Cliente: {{pedido.cliente.nombre}}</a></li>
	<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('pedido_edit',{'id': pedido.id}) }}">Pedido: {{pedido.numero}}, {{pedido.nombre}}</a></li>
	<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('relevamiento_por_pedido',{'pedido': pedido.id}) }}">Listar Relevamientos del Pedido</a></li>
</ul>
{%endblock main_path%}

{% block module_tit %}
	Listado de Relevamientos del Pedido
{% endblock module_tit %}

{% block list_tits %}

{% set widthCols =  94/2  %}

<th style="width: {{ widthCols }}">Número</th>
<th style="width: {{ widthCols }}">Nombre</th>

{% endblock list_tits %}


{% block list_item_texts %}
<td ><a href="{{ path('relevamiento_edit', { 'id': entity.id }) }}">{{ entity.numero }}</a></td>
<td ><a href="{{ path('relevamiento_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
{% endblock list_item_texts %}


{%block buscador %}
{%endblock buscador %}


{% block menuOpciones %}
{% endblock menuOpciones %}


{% block buscar_btn %}{%endblock buscar_btn%}


{% block new_path %} 
	{{path('relevamiento_new',{'pedido':pedido.id})}}
{% endblock new_path %}


{% block edit_path %} 
{{ path('relevamiento_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block delete_path %}
{{ path('relevamiento_delete', { 'id': entity.id }) }}
{% endblock delete_path %}

{% block list_delete %}
{% render "PedidoBundle:Relevamiento:listDeleteform" with {'id': entity.id}  %}
{% endblock list_delete %}

{% block list_navigation %}
{% endblock list_navigation %}


