{% extends "CoobixAdminBundle:Default:list.html.twig" %}

{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('pedido') }}" class="current" >Pedidos de Productos/Insumos a Stock</a>
</div>
{% endblock breadcrumb_in %} 


{% block module_tit %}
Listado de Pedidos de Productos/Insumos a Stock
{% endblock module_tit %}

{% block list_tits %}

	{% set widthCols =  94/4  %}
	<th style="width: {{ widthCols }}%"{% if entities.isSorted('p.numero') %} class="sorted" {% endif %}>{{ entities.sortable('Número', 'p.numero')|raw }}</a></th>
	<th style="width: {{ widthCols }}%"{% if entities.isSorted('p.nombreObra') %} class="sorted" {% endif %}>{{ entities.sortable('Obra', 'p.nombreObra')|raw }}</th>
	<th align="center" style="width: {{ widthCols }}%"{% if entities.isSorted('sm.fechaHoraRequerido') %} class="sorted" {% endif %}>{{ entities.sortable('Requerido el', 'sm.fechaHoraRequerido')|raw }}</th>
	<th align="center" style="width: {{ widthCols }}%"{% if entities.isSorted('sm.estado') %} class="sorted" {% endif %}>{{ entities.sortable('Estado', 'sm.estado')|raw }}</th>

{% endblock list_tits %}

{% block list_item_texts %}
	<td ><a href="{{ path('solicitudmovimiento_edit', { 'id': entity.id }) }}">{{ entity.pedido.numero }}</a></td>
	<td ><a href="{{ path('solicitudmovimiento_edit', { 'id': entity.id }) }}">{{ entity.pedido.nombre }}</a></td>
	<td align="center"><a href="{{ path('solicitudmovimiento_edit', { 'id': entity.id }) }}" >{{entity.fechaHoraRequerido | date('d/m/Y')}}</a></td>
	<td align="center"><a href="{{ path('solicitudmovimiento_edit', { 'id': entity.id }) }}">{{ entity.estadoNombre }}</a></td>
{% endblock list_item_texts %}




{%block FormBuscar%}
	<form method="post" action="{{path('solicitudmovimiento',{pararouting:"buscar"})}}" novalidate="true">
{%endblock%}


{% block new_path %} 
{{ path('solicitudmovimiento_new', { 'paramPedido': 0 }) }}
{% endblock new_path %}

{% block edit_path %} 
{{ path('solicitudmovimiento_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block delete_path %}
{{ path('solicitudmovimiento_delete', { 'id': entity.id }) }}
{% endblock delete_path %}

{% block list_delete %}

{% endblock list_delete %}





