{% extends "CoobixAdminBundle:Default:list.html.twig" %}
{% import "PedidoBundle:Pedido:macros.html.twig" as macrosPedido %}

{%block main_path%}
<ul>
	<li><a class="btn_back_to_list txt16 txt_green" href="{{ path('cliente_edit',{'id':pedido.cliente.id}) }}">Cliente: {{pedido.cliente}}</a></li>
	<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('pedido_edit',{'id':pedido.id}) }}">Pedido: {{pedido }}</a></li>
	<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('solicitudmovimiento_por_pedido',{'pedido':pedido.id}) }}">Listar Solicitudes a Stock</a></li>
</ul>
{%endblock main_path%}

{% block module_tit %}
Listado de Solicitudes a Stock
{% endblock module_tit %}


{%block buscador%}{%endblock buscador%}

{% block list_tits %}

	{% set widthCols =  94/4  %}
	<th style="width: {{ widthCols }}">Creado el</th>
	<th style="width: {{ widthCols }}">Requerido el</th>
	<th style="width: {{ widthCols }}">Procesado el</th>
	<th style="width: {{ widthCols }}">Estado</th>

{% endblock list_tits %}

{% block list_item_texts %}
	<td ><a href="{{ path('solicitudmovimiento_show', { 'id': entity.id }) }}" >{{entity.fechaHoraCreado | date('d/m/Y')}}</a></td>
	<td ><a href="{{ path('solicitudmovimiento_show', { 'id': entity.id }) }}" >{{entity.fechaHoraRequerido | date('d/m/Y')}}</a></td>
	<td ><a href="{{ path('solicitudmovimiento_show', { 'id': entity.id }) }}" >{{entity.fechaHoraCierre | date('d/m/Y')}}</a></td>
	<td ><a href="{{ path('solicitudmovimiento_show', { 'id': entity.id }) }}">{{ entity.estadoNombre }}</a></td>
{% endblock list_item_texts %}




{%block list_content_antes%}


<table class="tableDescripcionItems" >		
	<tbody>	
		<tr>
			<td ><span>CP</span>= Cantidad Presupuestada</td>
			<td ><span>CPI</span>= Cantidad Presupuestada Indirectamente</td>					
			<td ><span>CE</span>= Cantidad Entregada</td>
		</tr>
		<tr>
			<td ><span>CP+CPI-CE</span>= Cantidad Presupuestada Total - Cantidad Entregada</td>
			<td ><span>CSS</span>= Cantidad Solicitada a Stock</td>
			<td><span>CTS</span>= Cantidad Total en Stock</td>
		</tr>
			
	</tbody>
			
</table>

<div class="tab_container border_radius">
		
			
		<table class="records_list">
			<thead>
				<tr>					
					<th width="450" >Producto/Insumo</th>
					<th align="center" >CP</th>
					<th align="center" >CPI</th>
					<th align="center" >CE</th>
					<th align="center" >CP + CPI - CE</th>
					<th align="center" >CSS</th>
					<th align="center" >CTS</th>
				</tr>
			</thead>
					
			<tbody>
			{% for arrayElementosCantidad in arrayElementosCantidades %}
				<tr>
					<td width="300" >{{ arrayElementosCantidad.designacion  }}</td>
					<td width="100" align="center">{{ arrayElementosCantidad.cantidadPresupuesto  }}</td>
					<td width="100" align="center">{{ arrayElementosCantidad.getCantidadPresupuestadaIndirectamenteAprobada  }}</td>
					<td width="100" align="center">{{ arrayElementosCantidad.cantidadEntregada  }}</td>
					<td width="100" align="center">{{ (arrayElementosCantidad.cantidadPresupuesto+arrayElementosCantidad.getCantidadPresupuestadaIndirectamenteAprobada)-arrayElementosCantidad.cantidadEntregada  }}</td>
					<td width="100" align="center">{{ arrayElementosCantidad.cantidadSolicitada  }}</td>
					<td width="100" align="center">{{ arrayElementosCantidad.cantidadEnStock  }}</td>
				</tr>
			{% endfor %}
			</tbody>
			
		</table>
							
</div>

<hr>
{%endblock list_content_antes%}

{% block list_navigation %}	
{% endblock list_navigation %}


{% block menuOpciones %}{% endblock menuOpciones %}
{% block buscar_btn %}{%endblock buscar_btn%}

{% block new_path %} 
	{{path('solicitudmovimiento_new',{'paramPedido':pedido.id})}}
{% endblock new_path %}

{% block edit_path %} 
{{ path('solicitudmovimiento_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block delete_path %}

{% endblock delete_path %}






