{% extends "CoobixAdminBundle:Default:new.html.twig" %}



{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('usuario') }}" class="current" >Usuarios</a>
<div class="breadcrumb_divider"></div> 
<a href="{{ path('usuario_new') }}" class="current" >Crear</a>
</div>
{% endblock breadcrumb_in %} 

{%block msj_info%}
	{{ parent() }}
{% endblock msj_info %}



		{% block form_content %}
			{% block errorMsj %}{% endblock errorMsj %}
			<form action="{{ path('usuario_create') }}" method="post" {{ form_enctype(form) }}>
			{% form_theme form 'CoobixAdminBundle:Form:Fields.html.twig' %}
			
			
    {{ form_row(form.nombre) }}
    {{ form_row(form.apellido) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    
    <div class="form_row">
    
    	{{ errorContrasena }}
    
    {{ form_label(form.plainPassword) }}
    {{ form_widget(form.plainPassword) }}
	</div>	
			{{ form_rest(form) }}

			<p>
				<button class="btn_green_button right" id="btnGuardarCambios" type="submit">Guardar cambios</button>
			</p>
			</form>
			
			
			<div class="fix"></div>
		{% endblock form_content %}


{% block module_tit %}
Crear Usuario
{% endblock module_tit %}



{% block list_path %}
{{ path('usuario') }}
{% endblock list_path %}
