{% extends "CoobixAdminBundle:Default:edit.html.twig" %}


{%block msj_info%}
	{{ parent() }}

{% endblock msj_info %}

{% block module_tit %}Editar Usuario{% endblock module_tit %}


{% block menuOpciones%}{% endblock menuOpciones%}

{% block update_path %}
{{ path('usuario_update', { 'id': entity.id }) }}
{% endblock update_path %}

{% block list_path %}
{{ path('usuario') }}
{% endblock list_path %}





{% block module_header_delete%}
{% if (app.user.id != entity.id) %}
	{% render "UsuarioBundle:Usuario:accionDeleteform" with {'id': entity.id}  %}
{% endif %}
{% endblock module_header_delete%}

{% block module_header_list%}
{% if is_granted('ROLE_SUPER_ADMIN')  %}
{{ parent() }}
{% endif %}
{% endblock module_header_list%}

{% block module_header_otros%}
	<a id="" class="btn_blue right" href="{{ path('usuario_change_pass', { 'id': entity.id }) }}">Cambiar Contraseña</a>
	{% if is_granted('ROLE_SUPER_ADMIN')  %}
	<a id="" class="btn_blue right" href="{{ path('usuario_cambiar_permisos', { 'id': entity.id }) }}">Cambiar Permisos</a>
	{% endif %}
{% endblock module_header_otros%}



